@charset "UTF-8";

@font-face {
    font-family: 'Marlide Display';
    src: url('../fonts/MarlideDisplay_Regular.eot');
    src: local('../fonts/Marlide Display Regular'), local('../fonts/MarlideDisplay_Regular'),
    url('../fonts/MarlideDisplay_Regulard41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarlideDisplay_Regular.woff2') format('woff2'),
    url('../fonts/MarlideDisplay_Regular.woff') format('woff'),
    url('../fonts/MarlideDisplay_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marlide Display';
    src: url('../fonts/MarlideDisplay_ExtraBold.eot');
    src: local('../fonts/Marlide Display ExtraBold'), local('../fonts/MarlideDisplay_ExtraBold'),
    url('../fonts/MarlideDisplay_ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarlideDisplay_ExtraBold.woff2') format('woff2'),
    url('../fonts/MarlideDisplay_ExtraBold.woff') format('woff'),
    url('../fonts/MarlideDisplay_ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marlide Display';
    src: url('../fonts/MarlideDisplay_Medium.eot');
    src: local('../fonts/Marlide Display Medium'), local('../fonts/MarlideDisplay_Medium'),
    url('../fonts/MarlideDisplay_Mediumd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarlideDisplay_Medium.woff2') format('woff2'),
    url('../fonts/MarlideDisplay_Medium.woff') format('woff'),
    url('../fonts/MarlideDisplay_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marlide Display';
    src: url('../fonts/MarlideDisplay_Heavy.eot');
    src: local('../fonts/Marlide Display Heavy'), local('../fonts/MarlideDisplay_Heavy'),
    url('../fonts/MarlideDisplay_Heavyd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarlideDisplay_Heavy.woff2') format('woff2'),
    url('../fonts/MarlideDisplay_Heavy.woff') format('woff'),
    url('../fonts/MarlideDisplay_Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marlide Display';
    src: url('../fonts/MarlideDisplay_Bold.eot');
    src: local('../fonts/Marlide Display Bold'), local('../fonts/MarlideDisplay_Bold'),
    url('../fonts/MarlideDisplay_Boldd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarlideDisplay_Bold.woff2') format('woff2'),
    url('../fonts/MarlideDisplay_Bold.woff') format('woff'),
    url('../fonts/MarlideDisplay_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marlide Display';
    src: url('../fonts/MarlideDisplay_Light.eot');
    src: local('../fonts/Marlide Display Light'), local('../fonts/MarlideDisplay_Light'),
    url('../fonts/MarlideDisplay_Lightd41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MarlideDisplay_Light.woff2') format('woff2'),
    url('../fonts/MarlideDisplay_Light.woff') format('woff'),
    url('../fonts/MarlideDisplay_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

footer {
    display: block !important;
    padding-left: 0;
    margin-top: 100px;
}

.joinHero {
    background:url('../img/join/texture.png');
    background-size:cover;
    padding:100px 0px;
    padding-top:110px;
}
.joinHero h1 {
    font-family: 'Marlide Display';
    color: #000;
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    max-width: 700px;
    line-height: 95%;
    display: block;
    margin: auto;
}
.joinHero h1 span {
    color:rgb(232, 37, 53);
}
@media(max-width:600px) {
    .joinHero h1 br {
        display:none;
    }
    .joinHero h1 span {
        display:block;
    }
}
.joinHero .bolt {
    display:block;
    margin:auto;
    margin-bottom:30px;
    width:40px;
}
.joinQuote {
    background-image:url('../img/join/joinQuote.png');
    background-attachment:fixed;
    background-position:center center;
    background-size:cover;
    padding:350px 0px;
    padding-top: 550px;
}
.joinQuote .textWrap {
    position:relative;
    margin:auto;
    max-width:890px;
}
.joinQuote h3 {
    font-family: 'Marlide Display';
    font-weight:300;
    font-size:125px;
    text-align:center;
    line-height:100%;
    color:#fff;
    text-transform: uppercase;
    text-shadow: -3px 0px 0px #66D6D4, 3px 0px 0px #FF1C2D;
    position:relative;
}
.joinQuote h3 .bolt {
    height: 125px;
    width: auto;
    margin-top: -21px;
}
.joinQuote h3 .circle {
    position: absolute;
    left: 46px;
    bottom: -12px;
    width: 370px;
}


.register {
    background: #fff;
    border-radius: 24px;
    margin: 90px auto;
    text-align: center;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    max-width: 700px;
}
.joinHero .register {
    margin-bottom: -37%;
}
.register .contents {
    align-self: center;
    width: 100%;
}
.register .passport {
    background:url('../img/join/jeans.png');
    background-size:cover;
    min-height:600px;
    background-color:#1F1B1D;
    border-top-left-radius:24px;
    border-bottom-left-radius:24px;
    color:#fff;
    display:flex;
}
.register .passport .stamp {
    max-width:220px;
}
.register .passport .title {
    text-align: center;
    font-family: 'Marlide Display';
    font-size: 64px;
    font-weight: 700;
    line-height: 80%;
    margin-top:45px;
}
.register .passport .description {
    font-family: 'mint_groteskmedium';
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.726px;
    max-width: 300px;
    margin: 40px auto;
}
.register .passport .fa-arrow-down {
    font-size:30px;
}
.register .body {
    padding: 50px 70px;
}
.register .body .stamp {
    display:none;
}
.register .body .title {
    font-family: 'mint_groteskbold';
    font-size: 36px;
    letter-spacing: -1.08px;
    text-align:center;
    margin-bottom:40px;
}
.register .plan {
    text-align:left;
}
.register .planBody {
    border-radius: 15px;
    border: 1px solid #DBDBDB;
    height:100%;
    position:relative;
    padding:25px;
    cursor:pointer;
    transition: all .2s ease-in-out;
}
.register .planBody:hover {
    transform: scale(1.05);
}
.register .planBody.active {
    box-shadow: rgb(212 0 27 / 19%) 0px 4px 20px 0px;
    border: 1px solid #D4001B;
}
.register .planBody .selected {
    border: 1px solid #000;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 25px;
    margin-top: 3px;
}
.register .planBody .selected .fa-check {
    display:none;
}
.register .planBody.active .selected {
    border:1px solid #D4001B;
    background:#D4001B;
    color:#fff;
}
.register .planBody.active .selected .fa-check {
    display: block;
    position: relative;
    left: 4px;
    top: 3px;
    font-size: 14px;
}
.register .planBody ul {
    margin:0;
    border-top:1px solid #DBDBDB;
    padding:0;
    padding-top:15px;
    list-style:none;
}
.register .planBody ul li {
    margin:10px 0px;
}
.register .planBody ul li i {
    margin-right:4px;
}
.register .plan .planLabel {
    text-transform: uppercase;
    color: #000;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    font-family: 'mint_groteskmedium';
    font-size: 12px;
    display: inline-block;
    padding: 4px 10px;
    padding-bottom: 2px;
}
.register .plan .planLabel.yearOption {
    border:0;
    color:#8c8c8c;
    cursor:pointer;
}
.register .plan .planLabel.yearOption.active {
    color:#fff;
    background:#000;
}
.register .plan .planLabel.yearOption:hover {
    color: #D4001B;
}
.register .plan .planLabel.yearOption.active:hover {
    color:#fff;
}
.register .plan .planPrice {
    color: #000;
    font-family: 'mint_groteskbold';
    font-size: 28px;
    letter-spacing: -0.2px;
    position: relative;
    margin: 25px 0;
}
.register .plan .planPrice .sub {
    display:block;
    font-family: 'mint_groteskmedium';
    color:#8c8c8c;
    font-size:13px;
}
.register .plan .planPrice .discountValue {
    color: #D4001B;
    font-family: 'mint_groteskmedium';
    border: 1px solid #D4001B;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 21px;
    text-transform: uppercase;
    padding-bottom: 2px;
    position: absolute;
    top: 8px;
    right: 0;
    display: inline-block;
}
.register .plan .planPrice .discountValue .dollarValueFont {
    font-weight:400;
}


.joinReviews {
    background: #f5f5f5;
    padding:200px 0px;
}
.joinReviews h3 {
    color: #000;
    font-family: 'Marlide Display';
    font-size: 95px;
    margin-bottom: 90px;
    font-weight:800;
    text-align:center;
    line-height: 100%;
}
.joinReviews .review {
    max-width:380px;
    padding:15px;
}
.joinReviews .review .spacing {
    border-radius:20px;
    background:#000;
}
.joinReviews .review p {
    color: #F7F7F7;
    font-size:16px;
    text-align:center;
}
.joinReviews .review .stars {
    text-align:center;
    font-size:14px;
    color: #E7AA47;
}
.joinReviews .review .author {
    background:#fff;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    text-align:center;
    position:relative;
    padding:30px 0px;
    overflow:hidden;
}
.joinReviews .review .author img {
    border-radius:50%;
    width:100px;
    height:100px;
    display:block;
    margin:auto;
    margin-bottom:10px;
}
.joinReviews .review .author .username {
    font-weight:600;
    color: #F7F7F7;
    font-size:19px;
}
.joinReviews .review .author .username span {
    display:block;
    font-size:16px;
    opacity:0.5;
}
.joinReviews .review .author .background {
    position: absolute;
    filter: blur(18px);
    -webkit-filter: blur(18px);
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    opacity: 0.6;
    z-index:1;
}
.joinReviews .review .author:after {
    content:" ";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#000;
    opacity:0.7;
    z-index:2;
}
.joinReviews .review .author .content {
    position:relative;
    z-index:9;
}
.joinReviews .review .body {
    padding:20px 20px;
}
.joinReviews .review .stars {
    margin-bottom:10px;
}


.joinShowcase {
    padding:280px 0px;
    padding-top:400px;
    overflow:hidden;
}
.joinShowcase .wrap {
    max-width:1000px;
    position:relative;
}
.joinShowcase .path {
    position: absolute;
    left: -20%;
    top: 183px;
    z-index: 0;
}
.joinShowcase .row {
    position:relative;
    z-index:1;
}
.joinShowcase .left {
    padding-right:50px;
}
.joinShowcase .right {
    padding-left:50px;
    padding-top:350px;
}
.joinShowcase .titleLeader {
    max-width:380px;
    color:#000;
    font-family: 'Marlide Display';
    text-align:center;
    font-size:95px;
    font-weight:800;
    line-height:100%;
    position:absolute;
    right: 4%;
    top: -260px;
}
.joinShowcase .showcaseCard {
    margin:150px 0px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.25);
    border-radius:20px;
}
.joinShowcase .showcaseCard:hover {
    transform: scale(1.03);
}
.joinShowcase .showcaseCard span {
    display:block;
}
.joinShowcase .showcaseCard .header {
    background: #211A1D;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    padding:36px;
}
.joinShowcase .showcaseCard .header .title {
    color:#fff;
    font-weight: 700;
    font-family: 'Marlide Display';
    font-size:48px;
    text-align:left;
    max-width:100%;
}
.joinShowcase .showcaseCard .header .description {
    color: #aaa;
    font-size: 19px;
    margin: 10px 0;
}
.joinShowcase .showcaseCard .header .cta {
    color: #FF569D;
    font-weight: 800;
    text-transform: uppercase;
    margin: 6px 0;
    margin-top: 31px;
    font-size: 20px;
}
.joinShowcase .showcaseCard.claimables .header .cta {
    color:#96B3FF;
}
.joinShowcase .showcaseCard.perks .header .cta {
    color:#34CEFF;
}
.joinShowcase .showcaseCard.tokenHub .header .cta {
    color:#FF5D6A;
}
.joinShowcase .showcaseCard img {
    width:100%;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    margin-top:-2px;
}


.joinFaqs {
    padding:100px 0px;
}
.joinFaqs .title {
    margin-bottom:40px;
}
.joinFaqs .title h3 {
    font-family: 'mint_groteskbold';
    font-size:40px;
    color:#000;
}
.joinFaqs .title p {
    font-family: 'mint_groteskmedium';
    color: #979797;
    font-size:16px;
}
.joinFaqs .title p a {
    color: #979797;
    text-decoration: underline;
}
.joinFaqs .title p a:hover {
    color:#D4001B;
}
.joinFaqs .accordion-button {
    font-family: 'mint_groteskbold';
    font-size:26px;
    padding: 20px 0;
    color:#000;
    border-bottom:1px solid #eeeeee !important;
    padding-top:24px;
}
.joinFaqs .accordion-item {
    border:0;
}
.joinFaqs .accordion-button:not(.collapsed) {
    background-color:transparent;
    box-shadow:none;
}
.joinFaqs .accordion-body {
    font-family: 'mint_groteskmedium';
    color: #979797;
    font-size:16px;
    padding: 25px 10px;
}
.joinFaqs .accordion-body a {
    color: #979797;
    text-decoration: underline;
}
header {
    background:transparent;
    position:absolute;
    width:100%;
    top:0;
    left:0;
}
header .wrap {
    position:relative;
}
header .logo {
    margin-right:15px;
    margin-left:-12px;
}
header nav ul li {
    float:left;
    margin-left:33px;
}
header nav ul li a {
    font-weight:600;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}
header nav ul li a:hover {
    color:#E82535;
}
header nav {
    display: inline-block;
    position: relative;
    top: 3px;
}
header .fa-bars {
    display:none;
}
header .ctas {
    position:absolute;
    right:0;
    top:-4px;
}
header .ctas a {
    color: #000;
    font-size: 14px;
    border:1px solid #e1e1e1 !important;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 5px;
}
header .ctas a i {
    margin-right:2px;
}
header .ctas a:hover {
    opacity:0.6;
}


.joinPodcast {
    padding:150px 0px;
    background:#000;
    position:relative;
}
.joinPodcast .backgroundWrap {
    position: absolute;
    top: 0;
    height: 100%;
}
.joinPodcast .backgroundWrap.mobile {
    display:none;
}
.joinPodcast .backgroundGif {
    height: 100%;
}
.joinPodcast .backgroundWrap .tear {
    height:100%;
    position:absolute;
    right: 0;
    top: 0;
}
.joinPodcast .content {
    max-width:500px;
    text-align:center;
    margin-left:auto;
    color: #979797;
}
.joinPodcast h3 {
    color:#fff;
    font-family: 'Marlide Display';
    font-size:58px;
    margin-bottom:20px;
    line-height:100%;
}
.joinPodcast p {
    font-family: 'mint_groteskmedium';
    color: #979797;
    font-size:16px;
}
.joinPodcast .cta {
    color: #fff;
    background: #E82535;
    border-radius: 45px;
    font-family: 'mint_groteskmedium';
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 40px;
    margin: 20px 0;
    padding-top: 17px;
    display: inline-block;
}
.joinPodcast .cta:hover {
    background: #bb1b29;
}
.joinPodcast .available {
    max-width: 360px;
    margin: auto;
    margin-top:30px;
}
.joinPodcast .available p {
    font-size:14px;
    color: #7e7e7e;
}
.joinPodcast .available img {
    width:36px;
    height:36px;
    display:inline-block;
    margin:10px;
}




.quote {
    position:absolute;
}
.quote p {
    font-family: 'mint_groteskmedium';
    color:#000;
    background: linear-gradient(0deg, #70EFF2 0%, #70EFF2 100%), rgba(255, 255, 255, 0.20);
    font-size: 14px;
    padding: 10px 23px;
    border-radius: 23px;
    border-bottom-right-radius: 0;
    margin-bottom:10px;
    width:101%;
}
.quote .meta {
    display:block;
    text-align:right;
    font-size:12px;
    color:#7b7b7b;
}
.quote .details {
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: top;
}
.quote img {
    display: inline-block;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
.quote.left img {
    margin-left:0;
    margin-right:10px;
}

.quote.left p {
    border-bottom-right-radius:23px;
    border-bottom-left-radius:0px;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
.ticker-wrap {
    padding-left: 100%;
    box-sizing: content-box;
    margin-top:80px;
    margin-left:-90vw;
    overflow: hidden;
    padding-top: 11px;
    margin-bottom: -170px;
    position: relative;
    top: 100px;
}
.ticker-wrap .ticker {
    display: inline-block;
    font-size:17px;
    font-weight:600;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 220s;
    animation-duration: 220s;
}
.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 10px 13px;
    border-radius: 8px;
    border: 1px solid #DBDBDB;
    background: #F5F5F5;
    margin: 0 6px;
    position: relative;
}
.ticker-wrap .ticker__item .new {
    color: #fff;
    background: #E82535;
    border-radius: 5px;
    font-size: 9px;
    text-transform: uppercase;
    padding: 1px 5px;
    display: inline-block;
    position: absolute;
    top: -10px;
}
.ticker-wrap .ticker__item .type {
    color: #E82535;
    font-family: 'mint_groteskmedium';
    font-size: 9px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.ticker-wrap .ticker__item .contents {
    font-family: 'mint_groteskbold';
    color:#000;
    font-size:12px;
}

.joinNewsletter {
    padding:200px 0px;
    overflow:hidden;
}
.joinNewsletter .content {
    max-width:500px;
    text-align:center;
    color: #979797;
}
.joinNewsletter h3 {
    color:#000;
    font-family: 'Marlide Display';
    font-size:58px;
    margin-bottom:20px;
    line-height:100%;
}
.joinNewsletter .cta {
    color: #fff;
    background: #E82535;
    border-radius: 45px;
    font-family: 'mint_groteskmedium';
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 40px;
    margin: 20px 0;
    padding-top: 17px;
    display: inline-block;
    min-width:300px;
    text-align:center;
}
.joinNewsletter .cta:hover {
    background: #bb1b29;
}
.joinNewsletter .points {
    margin: 20px auto;
    text-align: left;
    max-width: 420px;
    margin-top: 45px;
}
.joinNewsletter .points .point.middle {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    margin: 20px 0;
    padding: 20px 0;
    padding-bottom: 4px;
}
.joinNewsletter .points .point .check {
    display:inline-block;
    vertical-align:top;
    width:48px;
    font-size:24px;
    color: #2AD331;
}
.joinNewsletter .points .point .content {
    width:calc(100% - 54px);
    display:inline-block;
    vertical-align: top;
    font-family: 'mint_groteskmedium';
    font-size:16px;
    color: #2A292A;
}
.joinNewsletter .points .point .content p {
    text-align:left;
    font-size:16px;
}
.joinNewsletter .points .point .content p strong {
    font-family: 'mint_groteskbold';
}
.joinNewsletter .visual {
    position: relative;
    margin-top: 95px;
    left: 100px;
}
.joinNewsletter .visual .background {
    width:100%;
}

@keyframes float1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes float2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 11px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes float3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 6px); }
    100%   { transform: translate(0, -0px); }
}


.joinNewsletter .visual .yieldOpps {
    position: absolute;
    left: 5%;
    width: 400px;
    top: -18%;
    animation-name: float1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .citizenArticle {
    position: absolute;
    right: 26%;
    width: 300px;
    top: 15%;
    animation-name: float2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .citizenArticleLong {
    position: absolute;
    left: -5%;
    width: 300px;
    top: 49%;
    animation-name: float3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .monthlyOpps {
    position: absolute;
    right: 9%;
    width: 300px;
    top: 74%;
    animation-name: float1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .exclusiveSections {
    position: absolute;
    right: -22%;
    width: 300px;
    top: 12%;
    animation-name: float2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .blur1 {
    position: absolute;
    right: 48%;
    width: 250px;
    top: -46%;
    animation-name: float3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .blur2 {
    position: absolute;
    right: -4%;
    width: 280px;
    top: -37%;
    animation-name: float2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .blur3 {
    position: absolute;
    right: 4%;
    width: 280px;
    bottom: -53%;
    animation-name: float3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.joinNewsletter .visual .blur4 {
    position: absolute;
    left: 4%;
    width: 200px;
    bottom: -30%;
    animation-name: float2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}





.citizenQuote3 {
    left: -38%;
    top: 7%;
}
@media(max-width:1570px) {
    .citizenQuote3 {
        left: -25%;
        top: -56%;
    }
}
@media(max-width:1350px) {
    .citizenQuote3 {
        left: -10%;
    }
}
.citizenQuote2 {
    right: -13%;
    bottom: -49%;
}
@media(max-width:1150px) {
    .citizenQuote2 {
        right: -5%;
        bottom: -36%;
    }
}
.citizenQuote1 {
    right: -13%;
    top: -49%;
}
@media(max-width:1150px) {
    .citizenQuote1 {
        right: -3%;
        top: -82%;
    }
}
@media(max-width:1070px) {
    .citizenQuote3 {
        left: 1%;
    }
    .citizenQuote1 {
        right: 6%;
        top: -91%;
    }
}
.citizenQuote4 {
    left: 13%;
    bottom: -93%;
}
.citizenQuote5 {
    width: 480px;
    right: -13%;
}
.citizenQuote6 {
    margin-top: -111px;
    left: 11%;
}
.citizenQuote7 {
    left: 7%;
    margin-top: -50px;
}
@media(max-width:1000px) {
    .joinQuote {
        background-attachment:scroll;
        padding: 250px 0px;
        padding-top: 330px;
    }
    .citizenQuote2, .citizenQuote1 {
        display:none;
    }
    .joinQuote h3 {
        font-size: 90px;
        line-height: 88%;
        max-width: 350px;
        margin:auto;
    }
    .joinQuote h3 .circle {
        position: absolute;
        left: 7px;
        bottom: 44px;
        width:320px;
    }
    .joinQuote h3 .bolt {
        height: 92px;
        width: auto;
        margin-top: -21px;
        display: inline-block;
        margin-right: 4px;
    }
    .citizenQuote4 {
        bottom:-190px;
    }
    .joinHero .register {
        margin-bottom:-200px;
    }
    .citizenQuote3 {
        left: auto;
        right: 10%;
    }
}
@media(max-width:540px) {
    .quote p {
        font-size:12px;
        padding: 8px 17px;
        border-radius: 15px;
    }
    .quote.left p {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }
    .quote p br {
        display:none;
    }
    .joinQuote h3 {
        font-size:70px;
        width:300px;
    }
    .joinQuote h3 .circle {
        left: 29px;
        bottom: 19px;
        width: 224px;
    }
}




@media(max-width:780px) {
    .joinHero h1 {
        font-size:80px;
    }
    .joinHero .bolt {
        width: 30px;
    }
}
@media(max-width:620px) {
    .joinHero h1 {
        font-size:50px;
        max-width:90%;
    }
    .joinHero .bolt {
        width: 30px;
    }
}
@media(max-width:1240px) {
    .register .body {
        padding: 55px 30px;
    }
    .register .plan .planPrice {
        font-size:25px;
    }
    .register .passport .description {
        font-size:20px;
    }
    .register .passport .title {
        font-size:55px;
    }
    .register .body .title {
        font-size:30px;
        margin-bottom:20px;
    }
}
@media(max-width:1110px) {
    .register .col-4 {
        display:none;
    }
    .register .col-4, .register .col-8 {
        width:100%;
    }
    .register .body .title {
        font-size:36px;
        margin-top:20px;
    }
    .register .body .stamp {
        display:block;
        width:190px;
        margin:auto;
    }
    .register .body {
        padding:50px 60px;
    }
}
@media(max-width:800px) {
    .register .body {
        overflow:hidden;
    }
    .plansWrap {
        overflow: auto;
        padding: 30px;
        width: 100vw;
        margin-left: -7%;
        padding-right: 18%;
    }
    .row .plans {
        width:700px;
    }
    .register .plan {
        width:330px;
    }
}
@media(max-width:530px) {
    .register .body .title {
        line-height:100%;
    }
    .registerWrap {
        width:100%;
    }
}
@media(max-width:1200px) {
    .joinShowcase .titleLeader {
        font-size:80px;
        top: -172px;
    }
    .joinShowcase .showcaseCard .header .title {
        font-size:40px;
    }
    .joinShowcase .showcaseCard .header {
        padding:25px;
    }
    .joinShowcase .showcaseCard .header .cta {
        margin-top: 21px;
        font-size: 16px;
    }
    .joinShowcase .showcaseCard .header .description {
        font-size:16px;
    }
}
@media(max-width:1600px) {
    .joinNewsletter .visual .exclusiveSections {
        right: -10%;
        top: 19%;
    }
}
@media(max-width:830px) {
    .joinShowcase .titleLeader {
        font-size: 57px;
        top: -77px;
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 50px;
    }
    .joinShowcase .showcaseCard {
        margin: 50px 0px;
    }
    .joinShowcase .right {
        padding-top:200px;
    }
    .joinShowcase .right, .joinShowcase .left {
        padding:0;
        width:100%;
    }
    .joinShowcase .showcaseCard .header .title {
        font-size: 34px;
    }
    .joinShowcase .wrap {
        max-width: 400px;
        margin: auto;
    }
    .joinShowcase {
        padding: 100px 0px;
        padding-top: 100px;
    }
}
@media(max-width:480px) {
    .joinShowcase .showcaseCard {
        margin: 0px 0px;
    }
    .joinShowcase .wrap {
        max-width: 999px;
        margin: auto;
        width:100%;
    }
    .joinShowcase .showcaseCard, .joinShowcase .showcaseCard .header {
        border-radius:0;
    }
}
@media(max-width:1340px) {
    header .logo {
        margin-right:0;
    }
    header nav ul li {
        margin-left:23px;
    }
    header nav ul li a, header .ctas a {
        font-size:12px;
    }
}
@media(max-width:1160px) {
    header .logo {
        width: 120px;
        margin-left: 0;
    }

    header nav ul li {
        margin-left: 16px;
    }

    header {
        padding: 20px 0px;
    }
    header .ctas {
        top: -2px;
    }
    header .ctas a {
        padding: 8px 13px;
    }
}
@media(max-width:1040px) {
    header nav {
        display:none;
        position: absolute;
        width: 100%;
        left: 0;
        background: #333;
        top: 47px;
        padding: 15px 13px;
        border-radius:12px;
        z-index:99;
    }
    header nav ul li {
        float:none;
    }
    header nav ul li a {
        color:#fff;
    }
    header .fa-bars {
        display: block;
        color: #000;
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 0;
        cursor:pointer;
    }
    header .fa-bars:hover {
        color: #e1e1e1;
    }
    header .ctas {
        right:40px;
    }
}
@media(max-width:680px) {
    header .ctas a {
        font-size:10px;
        padding: 8px 10px;
    }
}
@media(max-width:1150px) {
    .joinPodcast h3, .joinNewsletter h3 {
        font-size:36px;
    }
    .joinPodcast p, .joinNewsletter p {
        font-size:15px;
    }
    .joinPodcast .cta, .joinNewsletter .cta {
        font-size: 16px;
        padding: 12px 40px;
    }
    .joinNewsletter .points .point .content p {
        font-size:14px;
    }
    .joinPodcast .content, .joinNewsletter .content {
        max-width:360px;
    }
    .joinPodcast, .joinNewsletter {
        padding: 90px 0px;
    }
    .joinNewsletter .visual {
        left:0;
    }
    .joinReviews h3 {
        font-size:65px;
    }
    .joinReviews {
        padding: 100px 0px;
    }
}
.joinNewsletter .mobile {
    display:none;
}
@media(max-width:880px) {
    .joinPodcast .content, .joinNewsletter .content {
        max-width:100%;
    }
    .joinPodcast .content {
        margin-top: -270px;
        position: relative;
        padding: 0 40px;
    }
    .joinPodcast .backgroundWrap.desktop {
        display:none;
    }
    .joinPodcast .backgroundWrap.mobile {
        display:block;
    }
    .joinPodcast {
        padding-top:0;
    }
    .joinPodcast .backgroundWrap.mobile {
        position:relative;
    }
    .joinPodcast .backgroundWrap.mobile .backgroundGif {
        height:auto;
        width:100%;
    }
    .joinPodcast .backgroundWrap.mobile .tear {
        position: relative;
        top: -80px;
        height: auto;
        width: 100%;
    }
    .joinPodcast .wrap {
        width:100%;
    }
    .joinNewsletter .col-5, .joinNewsletter .col-7 {
        width:100%;
    }
    .joinNewsletter .col-7.desktop {
        display:none;
    }
    .joinNewsletter .col-7.mobile {
        display:block;
    }
    .joinNewsletter .content.main {
        padding:0 40px;
        margin-top:250px;
    }
    .joinFaqs .accordion-button {
        font-size:20px;
        padding:12px 0;
        padding-top:15px;
    }
    .joinFaqs .accordion-body {
        font-size:14px;
    }
    .joinFaqs .title h3 {
        font-size:32px;
    }
    .joinFaqs .title p {
        font-size:14px;
    }
    .joinReviews h3 {
        font-size:40px;
        margin-bottom:30px;
    }
}
@media(max-width:450px) {
    .joinNewsletter .visual {
        height: 216px;
    }
    .joinNewsletter .visual .blur1 {
        right: 63%;
        top: -75%;
    }
    .joinNewsletter .visual .blur2 {
        right: -23%;
        top: -61%;
    }
    .joinNewsletter .visual .yieldOpps {
        left: -2%;
        width: 300px;
        top: -44%;
    }
    .joinNewsletter .visual .blur3 {
        right: -21%;
        bottom: -128%;
    }
    .joinNewsletter .visual .blur4 {
        left: -36%;
        bottom: -111%;
    }
    .joinNewsletter .visual .citizenArticle {
        right: 9%;
        top: -3px;
    }
    .joinNewsletter .visual .background {
        width: 200%;
        position: absolute;
        left: -50%;
    }
    .joinNewsletter .visual .exclusiveSections, .joinNewsletter .visual .citizenArticleLong {
        display:none;
    }
    .joinNewsletter .visual .monthlyOpps {
        right: -10%;
        top: 100%;
    }
    .joinNewsletter .content.main {
        margin-top:340px;
    }
}
.slick-list {
    padding-top:30px;
}
@media(max-width:460px) {
    .joinShowcase .showcaseCard:hover {
        transform:none;
    }
    .joinShowcase .path {
        display:none;
    }
    .joinShowcase {
        padding-top:66px;
    }
    .register {
        width:100vw;
        overflow:hidden;
    }
    .register .cta {
        font-size:16px;
    }
    .plansWrap {
        padding-right:0;
        margin-left:-22%;
    }
    .joinQuote h3 .bolt {
        height:65px;
    }
    .register .planBody:hover {
        transform: none;
    }
    .register .planBody ul li {
        font-size:14px;
    }
    .citizenQuote4 {
        left: 7%;
        right: 4%;
    }
    .joinFaqs .accordion-button {
        font-size:15px;
    }
    .joinFaqs .title h3 {
        font-size: 27px;
    }
    .joinPodcast .available img {
        margin:5px;
    }
    .joinShowcase .titleLeader {
        font-size:44px;
        margin:auto;
        margin-bottom:50px;
    }
    .joinShowcase .showcaseCard .header .title {
        font-size: 30px;
    }
    .joinShowcase .showcaseCard .header .cta {
        font-size:14px;
    }
    .joinShowcase .showcaseCard .header .description {
        font-size: 14px;
    }
}
@media(max-width:400px) {
    .plansWrap {
        margin-left: -28%;
    }
    .register .plan {
        width: 298px;
    }
    .row .plans {
        width: 600px;
    }
}
@media(max-width:1260px) {
    .joinShowcase .quote {
        display:none;
    }
}
.support .accordion-body {
    color: #636363;
}
.support .accordion-body a {
    color:#333;
}
.support .accordion-body h2 {
    font-size: 22px;
    margin-bottom: 25px;
}
.support .accordion-body img {
    width:auto !important;
    display:block;
    margin:30px auto;
    border-radius:10px;
}
.support .accordion-body h3, .support .accordion-body h4 {
    font-size:20px;
    margin-bottom:6px;
}
.support .accordion-body * {
    font-family: 'Manrope', sans-serif !important;
}
.faqContent {
    padding-left:35px;
}
.support .title p {
    font-family: 'Manrope', sans-serif !important;
}
.support .accordion-button {
    font-family: 'Manrope', sans-serif !important;
    font-weight:600;
    font-size:20px;
    line-height:150%;
}
@media(max-width:600px) {
    .support .accordion-button {
        padding: 20px 0;
        padding-top: 21px;
    }
}
.support .accordion-button::after {
    transform: rotate(270deg);
}
.joinFaqs .mini .accordion-button {
    font-family: 'mint_groteskmedium';
    font-size: 16px;
    padding: 20px 0;
    color: #000;
    border-bottom: 1px solid #efefef !important;
    padding-top: 20px;
}
.joinFaqs .mini .accordion-button::after {
    display:none;
}
.searchFaqsSmall {
    border: 1px solid #D9D9D9 !important;
    border-radius: 100px;
    padding: 13px 19px;
    margin-bottom: 20px;
    max-width: 500px;
    font-size: 14px;
    height: auto;
}
.support .breadcrumb a {
    color: #808080;
    font-size: 14px;
}
.support .breadcrumb a:hover {
    text-decoration: underline;
}
@media(max-width:890px) {
    .support .col-3, .support .col-9 {
        width:100%;
    }
    .faqContent {
        padding-left:15px;
    }
    .support .col-3 {
        margin-top:-40px;
        margin-bottom:30px;
    }
    #accordionFaqsSide {
        position: absolute;
        background: rgb(255, 255, 255);
        width: 100%;
        -webkit-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.11);
        -moz-box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.11);
        box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.11);
        left: 0;
        padding-left: 18px;
        padding-right: 18px;
    }
}
.modal .title.switchTitle {
    font-weight: 900;
    font-size: 34px;
    text-align: center;
    line-height: 37px;
}
.switchInfo {
    border: 1px solid #e3e3e3;
    margin:40px 0;
    border-radius: 12px;
}
.switchInfo .left {
    background: #eee;
    text-align: center;
    padding: 75px 0;
    width: 215px;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    display:inline-block;
    vertical-align: top;
    display:none;
}
.switchInfo .pill {
    color: #fff;
    text-transform: uppercase;
    background: #E82535;
    font-size: 11px;
    padding: 3px 9px;
    display: inline-block;
    border-radius: 14px;
}
.switchInfo .price {
    font-weight:bold;
    font-size:30px;
}
.switchInfo .price .saving {
    font-size: 12px;
    color: #898989;
    font-weight: 600;
}
.switchInfo .right {
    display:inline-block;
    width:calc(100% - 220px);
    vertical-align: middle;
}
.switchInfo ul {
    margin: 0;
    padding: 0;
    padding-top: 19px;
    list-style: none;
    padding-left: 24px;
    text-align: left;
}
.switchInfo ul li {
    margin: 6px 0;
    font-size: 14px;
}
.switchInfo ul li i {
    margin-right: 4px;
    color: #36E07A;
    position: Relative;
    top: 2px;
}
@media(max-width:700px) {
    .switchInfo {
        width: 100%;
        margin-left: 0;
    }
}
@media(max-width:700px) {
    .switchInfo .left {
        width:100%;
        padding:30px 0px;
        border-bottom-left-radius:0;
        border-top-right-radius:12px;
    }
    .switchInfo ul {
        margin: 0;
        padding: 0;
        padding-top: 23px;
        list-style: none;
        text-align:center;
        padding-left: 0;
        margin-left: 0;
    }
    .switchInfo .right {
        width: 100%;
        padding-bottom:30px;
        text-align: center;
    }
}
.register .planSelect {
    max-width:440px;
    margin:0px auto;
}
.register .planSelect .planItem {
    border-radius: 12px;
    border: 1px solid #DBDBDB;
    display:inline-block;
    text-align:center;
    width:30%;
    padding:10px;
    margin:0px 5px;
    cursor:pointer;
}
.register .planSelect .planItem .discount {
    font-size:12px;
    font-weight:800;
    text-transform:uppercase;
    color: #808080;
}
.register .planSelect .planItem .price {
    font-size:16px;
    color:#000;
    font-weight:800;
    margin-top: -3px;
    margin-bottom: -1px;
}
.register .planSelect .planItem .term {
    color: #808080;
    font-weight:bold;
    font-size:12px;
}
.register .planSelect .planItem input {
    opacity:0;
    position:absolute;
}
.register .planSelect .planItem.active {
    border: 2px solid #D5021B
}
.register .planSelect .planItem.active .discount {
    color:#D5021B;
}
.modal.accountCreation {
    border:0 !important;
    width:auto !important;
    max-width:430px;
    margin:0 auto;
}
.modal.accountCreation .form-group label {
    font-weight:bold;
    font-size:14px;
    display:block;
}
.modal.accountCreation .form-group .form-control {
    border-radius: 11px;
    font-size: 16px;
    padding: 13px 16px;
    margin-top: 3px;
    margin-bottom:10px;
}
.modal.accountCreation .cta {
    border-radius: 45px;
    background: #E92735;
    color: #fff;
    font-size: 16px;
    padding: 16px 10px;
    display: block;
    text-align: center;
    border: 0;
    font-weight: 600;
    width: 100%;
    margin-top: 3px;
}
.modal.accountCreation .cta:hover {
    opacity:0.8;
}
.modal.accountCreation .terms {
    margin-top:10px;
    color: #888888;
}
.modal.accountCreation .payCrypto {
    font-size:14px;
    color: #888888;
    margin-top:15px;
}
.modal.accountCreation .payCrypto a {
    color:#E92735;
}
.modal.accountCreation .payCrypto a:hover {
    color:#E92735;
    text-decoration: underline;
}
.inlineError {
    color: #E92735;
    text-align: center;
    font-size: 14px;
    margin: 15px 0;
    display:none;
    margin-bottom:0;
}
@media(max-width:495px) {
    .register .body {
        padding: 50px 30px;
    }
    .register .planSelect .planItem {
        padding:10px 5px;
        margin: 0px 2px;
    }
    .register .planSelect .planItem .price {
        font-size:14px;
    }
    .register .planSelect .planItem .discount, .register .planSelect .planItem .term {
        font-size:11px;
    }
    .register .body .stamp {
        margin-top: -20px;
        margin-bottom: 27px;
    }
    .register .body .title {
        font-size:26px;
    }
}